<br>
<div class="kameleon-icon">
  <h1>
    <img src="assets/img/theme/icon/kameleon/Man-14.svg"> ຈັດການຜູ້ໃຊ້
  </h1>
</div>
<br><br>

<div class="horizontal-scroll">
  <table class="table table-condensed  table-hover table-bordered" style="border-radius:5px 5px 5px 5px;" >
    <thead>
      <tr style="background:rgba(0,0,0,0.2);">
        <th class="table-id">#</th>
        <th><h3><b><i class="ion-android-share-alt"></i> ຊື່</b></h3></th>
        <th><h3><b><i class="ion-ios-telephone"></i> ອີເມວ</b></h3></th>
        <th><h3><b><i class="ion-android-apps"></i> ຈັດການ</b></h3></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users; let i = index">
        <td class="table-id">{{ i + 1 }}</td>
        <td (click)="goToDetail(item)"  style="cursor: pointer" >{{ item.name }}</td>
        <td>{{item.email}}</td>
        <td><button type="button" class="btn btn-default" (click)="goToMenu()">ຈັດການຜູ້ໃຊ້</button> <button type="button" class="btn btn-danger"  data-toggle="tooltip" data-placement="top" title="ລຶບຮ້ານຜູ້ໃຊ້" (click)="deteleteRestaurant()"><i class="ion-ios-trash-outline"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>

