<br>
<div class="kameleon-icon">
  <h1>
    <img src="assets/img/theme/icon/kameleon/Shop.svg"> ເມນູ ຮ້ານ{{restaurant?.name}}
  </h1>
</div>
<br><br>
<button type="button" class="btn btn-default" (click)="goToMenu()">ເພີ່ມເມນູ</button>
<br><br>
<div class="card">
  <div class="card-header">
    <h3 >ຂໍ້ມູນເມນູ</h3>
  </div>
  <div class="card-body">

    <!-- ຂໍ້ມູນເມນູ -->
    <table class="table table-condensed  table-hover">
      <thead>
        <tr>
          <th class="table-id">#</th>
          <th>ຮູບພາບ</th>
          <th>ຊື່ເມນູ</th>
          <th>ລາຄາ</th>
          <th>ອັບເດດລ່າສຸດ</th>
          <th>ຈັດການ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of [1,2,3,4,5,6]; let i = index" style="cursor: pointer">
          <td class="table-id">{{ i + 1 }}</td>
          <td><img src="assets/images/muaku.PNG" alt="" style="height:80px;border-radius:10px 10px 10px 10px; padding:3px;"></td>
          <td>ປີ້ງປານິນປີ້ງປານິນປີ້ງປານິນປີ້ງປານິນປີ້ງປານິນປີ້ງປານິນປີ້ງປານປີ້ງປານິນປີ້ງປານິນປີ້ງປານິນປີ້ງປານິນປີ້ງປານິນປີ້ງປານິນປີ້ງປານິນປີ້ງປານິນ</td>
          <td>30,000 ກີບ</td>
          <td>22/08/2017</td>
          <td><button type="button" class="btn btn-default" (click)="goToMenu()">ແກ້ໄຂ</button></td>
        </tr>
      </tbody>
    </table>
    <!-- #ຂໍ້ມູນເມນູ -->
  </div>
</div>

<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <ba-card cardTitle="Modals" class="modal-buttons">
        <button class="btn btn-success" (click)="lgModalShow()">Large modal</button>
        <button class="btn btn-warning" (click)="smModalShow()">Small modal</button>
        <button class="btn btn-primary" (click)="staticModalShow()">Static modal</button>
        <button class="btn btn-danger" (click)="childModalShow()">Open child modal</button>
      </ba-card>
    </div>
  </div>
</div>
