<!-- breadcrumb -->
<div style="position:absolute;right:20px;">
  <ol class="breadcrumb" style=" background-color:rgba(0, 0, 0, 0.3)">
    <li class="breadcrumb-item"><a href="/#/admin/" style="color:aliceblue;">ໜ້າຫຼັກ</a></li>
    <li class="breadcrumb-item active" style="color:aliceblue;">ເພີ່ມຮ້ານອາຫານ</li>
  </ol>
</div>

<br>
<div class="kameleon-icon">
  <h1>
    <img src="assets/img/theme/icon/kameleon/Shop.svg"> ເພີ່ມຮ້ານອາຫານ
  </h1>
</div>
<br><br>
<!-- Start FORM -->
<!-- ############ -->
<form [formGroup]="restaurantAdd " novalidate>
  <div class="card">
    <div class="card-header">
      <h3 style="color:#2c3e50"> <i class="ion-ios-paper-outline"></i> ລາຍລະອຽດ</h3>
    </div>


    <div class="card-body">

      <!-- check form validator -->
      <!--  <pre>Form value: {{ restaurantAdd.value | json }}</pre>
      <p>Name value: {{ restaurantAdd.get('name').pristine}}</p>
      <p>Name value: {{ restaurantAdd.get('name').touched}}</p>
      <p>Form status: {{ restaurantAdd.status | json }}</p>  -->

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group col-sm-12 " [ngClass]="{
              'has-error': (!restaurantAdd.get('name').valid && restaurantAdd.get('name').touched), 
              'has-success': restaurantAdd.get('name').valid && restaurantAdd.get('name').touched}">
            <label for="exampleInputtext1"><i class="ion-ios-wineglass"></i> ຊື່ຮ້ານ</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="ຊື່ຮ້ານ" formControlName="name">
            <div *ngIf="!restaurantAdd.get('name').valid && restaurantAdd.get('name').touched">
              <p style="color:#e74c3c;">ກະລຸນາໃສ່ຊື່ຮ້ານ</p>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label for="exampleInputtext1"><i class="ion-ios-telephone-outline"></i>    ໂທລະສັບ</label>
            <input type="text" class="form-control" id="exampleInputtext2" placeholder="ໂທລະສັບ" formControlName="phone">
          </div>
        </div>

        <div class="form-group col-sm-6 ">
          <!-- <label for="exampleInputtext1">ປະເພດຮ້ານ</label>
          <div *ngFor="let t of initResTypes;" class="col-md-2">
            <button type="button" class="btn btn-default" data-dismiss="modal">ຮ້ານກິນດື່ມ{{t.name}}</button>
          </div> -->
          <div class="card">
            <div class="card-header" style="color:#2c3e50">
              <i class="ion-ios-paper-outline"></i> ປະເພດຮ້ານ
              <button class="btn btn-default" style="position:absolute;right:10px;top:10px;font-size:x-small;" (click)="goToSetType()">ຈັດການປະເພດ</button>
            </div>
            <div class="card-body" style="color:#2c3e50">
              <div class="checkbox-demo-row">
                <div class="input-demo radio-demo row">
                  <div class="col-md-3" *ngFor="let t of initResTypes;">
                    <label class="radio-inline custom-radio nowrap">
                          <input type="radio" class="form-control" id="exampleInputtext2" value="{{t.id}}" formControlName="type">
                          <span >{{t.name}}</span>
                        </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-12">
          <div class="card">
            <div class="card-header" style="color:#2c3e50">
              <i class="ion-ios-paper-outline"></i> ທີ່ຢູ່ຮ້ານ
            </div>
            <div class="card-body  form-inline">
              <div class="form-group col-sm-6">
                <label for="exampleFormControlSelect1">ແຂວງ</label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="province" (change)="provinceChange($event)">
                            <option selected>--ເລືອກແຂວງ--</option>
                            <option *ngFor="let a of ADDRESS;">{{a.province_name}}</option>
                          </select>
              </div>
              <div class="form-group col-sm-6 magictime puffIn" *ngIf="restaurantAdd.get('province').valid ">
                <label for="exampleFormControlSelect1">ເມືອງ</label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="district">
                              <option *ngFor="let d of DISTRICT.district_list;">{{d.district}}</option>
                            </select>
              </div>
              <div class="form-group col-sm-12">
                <label for="exampleInputtext1"><i class="ion-ios-paper-outline"></i>  ທີ່ຢູ່ຮ້ານ</label>
                <input type="text" class="form-control" id="exampleInputtext2" placeholder="ທີ່ຢູ່ຮ້ານ" formControlName="detail">
              </div>
              <div class="form-group col-sm-6">
                <label for="exampleInputtext1"><i class="ion-ios-paper-outline"></i>  ເສັ້ນແວງ</label>
                <input type="number" class="form-control" id="exampleInputtext2" placeholder="X" formControlName="location_x">
              </div>
              <div class="form-group col-sm-6">
                <label for="exampleInputtext1"><i class="ion-ios-paper-outline"></i>  ເສັ້ນຂະໜານ</label>
                <input type="number" class="form-control" id="exampleInputtext2" placeholder="Y" formControlName="location_y">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-12">
          <div class="card">
            <div class="card-header">
              <h3 style="color:#2c3e50"><i class="ion-ios-paper-outline"></i> ຄວາມຈຸຂອງຮ້ານ</h3>
            </div>
            <div class="card-body  form-inline">
              <div class="form-group col-sm-6">
                <label for="exampleInputtext1"><i class="ion-ios-paper-outline"></i>  ໂຕະ</label>
                <input type="number" class="form-control" id="exampleInputtext2" placeholder="ໂຕະ" formControlName="tables">
              </div>
              <div class="form-group col-sm-6">
                <label for="exampleInputtext1"><i class="ion-ios-paper-outline"></i>  ທີ່ນັ່ງ</label>
                <input type="number" class="form-control" id="exampleInputtext2" placeholder="ທີ່ນັ່ງ" formControlName="seats">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-12">
          <div class="card">
            <div class="card-header">
              <h3 style="color:#2c3e50"><i class="ion-ios-paper-outline"></i> ບ່ອນຈອດລົດ</h3>
            </div>
            <div class="card-body  form-inline">
              <div class="form-group col-sm-6">
                <label for="exampleInputtext1"><i class="ion-ios-paper-outline"></i>  ຈັກຄັນ</label>
                <input type="number" class="form-control" id="exampleInputtext2" formControlName="parkinglot_capacity">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-12">
          <div class="card">
            <div class="card-header">
              <h3 style="color:#2c3e50"><i class="ion-ios-paper-outline"></i> ມື້ເປີດກິດຈະການ</h3>
            </div>
            <div class="card-body  form-inline">
              <div style="padding:10px;">
                <button type="button" class="btn btn-default" [ngClass]="{'btn-default': !CHOOSE1}" (click)="CHOOSE1= !CHOOSE1; setChooseDay('Monday')">ຈັນ</button>
              </div>
              <div style="padding:10px;">
                <button type="button" class="btn btn-default" [ngClass]="{'btn-default': !CHOOSE2}" (click)="CHOOSE2= !CHOOSE2;setChooseDay('Tuesday')">ຄານ</button>
              </div>
              <div style="padding:10px;">
                <button type="button" class="btn btn-default" [ngClass]="{'btn-default': !CHOOSE3}" (click)="CHOOSE3= !CHOOSE3;setChooseDay('Wenesday')">ພຸດ</button>
              </div>
              <div style="padding:10px;">
                <button type="button" class="btn btn-default" [ngClass]="{'btn-default': !CHOOSE4}" (click)="CHOOSE4= !CHOOSE4;setChooseDay('Thursday')">ພະຫັດ</button>
              </div>
              <div style="padding:10px;">
                <button type="button" class="btn btn-default" [ngClass]="{'btn-default': !CHOOSE5}" (click)="CHOOSE5= !CHOOSE5;setChooseDay('Friday')">ສຸກ</button>
              </div>
              <div style="padding:10px;">
                <button type="button" class="btn btn-default" [ngClass]="{'btn-default': !CHOOSE6}" (click)="CHOOSE6= !CHOOSE6;setChooseDay('Saturday')">ເສົາ</button>
              </div>
              <div style="padding:10px;">
                <button type="button" class="btn btn-default" [ngClass]="{'btn-default': !CHOOSE7}" (click)="CHOOSE7= !CHOOSE7;setChooseDay('Sunday')">ອາທິດ</button>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group col-sm-12">
          <div class="card">
            <div class="card-header">
              <h3 style="color:#2c3e50"><i class="ion-ios-paper-outline"></i> ຂໍ້ມູນອື່ນໆ</h3>
            </div>
            <div class="card-body  form-inline">
              <div class="form-group col-sm-6">
                <!--  -->
                <div class="input-demo radio-demo row">
                  <div class="col-md-4">
                    <label class="radio-inline custom-radio nowrap">
                        <input type="radio" value="yes" formControlName="cards">
                        <span>ໄດ້</span>
                      </label>
                  </div>
                  <div class="col-md-4">
                    <label class="radio-inline custom-radio nowrap">
                        <input type="radio" value="no" formControlName="cards">
                        <span>ບໍ່ໄດ້</span>
                      </label>
                  </div>
                </div>
                <!--  -->
              </div>
              <br><br><br>
              <div class="form-group col-sm-12">
                <label for="exampleInputtext1"><i class="ion-ios-paper-outline"></i>  ຈຸດພິເສດອື່ນໆ</label>
                <input type="text" class="form-control" id="exampleInputtext2" placeholder="ຈຸດພິເສດອື່ນໆ" formControlName="feature">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-12 ">
          <div class="card" style="width:100%; ">
            <div class="card-header">
              <h3 style="color:#2c3e50"><i class="ion-ios-paper-outline"></i> ຮູບພາບຮ້ານອາຫານ</h3>
            </div>
            <div class="card-body">

              <label for="file_photo" class="button_label">
                  <i class="ion-android-image"></i> ອັບໂຫຼດຮູບພາບ
                  <input type="file" id="file_photo" style="display:none;" multiple (change)="fileChangeEvent($event)">
                </label>
              <div *ngIf="!Uploadable">
                <p style="color:#e74c3c;">ກະລຸນາອັບໂຫຼດຮູບພາບ ແລະ ຕັດຮູບພາບຕາມຂະໜາດທີ່ກຳນົດ</p>
              </div>


              <br><br>

              <div *ngIf="imageResult">
                <div class="row">
                  <div class="col-md-1" *ngFor="let x of imageResult;let n = index;">
                    <i class="ion-close-circled close delay02s magictime puffIn " (click)="close(n)"></i>
                    <img [src]="croppedResult[n]?.picUrl" style="width:100%;height:auto;top:0;" (click)="setFlag(n)" class="chooseImg{{n}}  magictime puffIn imgHover"
                      data-toggle="modal" data-target="#EditImageModal" *ngIf="croppedResult[n]?.picUrl">
                    <img [src]="imageResult[n]" style="width:100%;height:auto;top:0;" (click)="setFlag(n)" class="chooseImg{{n}}  magictime puffIn imgHover"
                      data-toggle="modal" data-target="#EditImageModal" *ngIf="!croppedResult[n]?.picUrl">
                    <br><br>
                    <div class="d-flex justify-content-center">
                      <p class="checktag" *ngIf="!croppedResult[n]?.flag" style="color:#e74c3c;"> <i class="ion-android-hand"></i> </p>
                      <p class="checktag" *ngIf="croppedResult[n]?.flag" style="color:#2ecc71;"> <i class="ion-android-done-all"></i> ສຳເລັດ</p>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>



      </div>


      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary" (click)="add_restaurant()" [disabled]="(!restaurantAdd.valid) || !Uploadable"
          data-toggle="tooltip" title="Some tooltip text!"><i  class="ion-android-add" ></i> ເພີ່ມຮ້ານອາຫານ</button>
      </div>


    </div>
  </div>
</form>
<!-- END FORM -->
<!-- ####### -->




<!-- Edit Image Modal -->
<div class="modal fade" id="EditImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color:#34495e">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ຕົບແຕ່ງຮູບພາບ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position:absolute; top:5px; right:10px;">
            <i class="ion-close-circled "></i>
          </button>
      </div>
      <div class="modal-body" style="  width: 100% !important;max-width: 100% !important; overflow:hidden;">
        <button type="button" class="btn btn-default" (click)="edit(openFlag)" *ngIf="editButtonFlag"> <i class="ion-ios-crop-strong"></i> ແກ້ໄຂ </button>
        <button type="button" class="btn btn-default" (click)="crop(openFlag)" *ngIf="cropFlag" data-toggle="tooltip" data-placement="top"
          title="ຕັດຮູບ"> <i class="ion-scissors"></i> </button>
        <button type="button" class="btn btn-default" (click)="rotate_left(openFlag)" *ngIf="cropFlag" data-toggle="tooltip" data-placement="top"
          title="ໝຸນຊ້າຍ">  <i class="ion-ios-undo-outline"></i> </button>
        <button type="button" class="btn btn-default" (click)="rotate_right(openFlag)" *ngIf="cropFlag" data-toggle="tooltip" data-placement="top"
          title="ໝຸນຂວາ">  <i class="ion-ios-redo-outline"></i></button>
        <br><br>
        <img [src]="croppedResult[openFlag]?.picUrl" (click)="edit(openFlag)" class="chooseModalImg{{openFlag}} imgModal" *ngIf="croppedResult[openFlag]?.picUrl">
        <img [src]="imageResult[openFlag]" (click)="edit(openFlag)" class="chooseModalImg{{openFlag}} imgModal" *ngIf="!croppedResult[openFlag]?.picUrl">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">ຍົກເລີກ</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="crop(openFlag)">ສຳເລັດ</button>
      </div>
    </div>
  </div>
</div>