<h1>
  ໂປໄຟຂອງ: ຮ້ານ{{restaurant?.name}}
</h1>

<div class="row">
  <div class="col-sm-9">
    <div class="card">
      <div class="card-header" style="color:#2c3e50">
        ຂໍ້ມູນພື້ນຖານ
      </div>
      <div class="card-body">
        <div class="form-group col-sm-12">
          <label for="exampleInputtext1">ທີ່ຢູ່ຮ້ານ</label>
          <input type="text" class="form-control" id="exampleInputtext2" placeholder="ທີ່ຢູ່ຮ້ານ" [(ngModel)]="retaurant_address">
        </div>
        <div class="form-group col-sm-6">
          <label for="exampleInputtext1">ເສັ້ນແວງ</label>
          <input type="text" class="form-control" id="exampleInputtext2" placeholder="X" [(ngModel)]="retaurant_location_x">
        </div>
        <div class="form-group col-sm-6">
          <label for="exampleInputtext1">ເສັ້ນຂະໜານ</label>
          <input type="text" class="form-control" id="exampleInputtext2" placeholder="Y" [(ngModel)]="retaurant_location_y">
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body ">
        <img src="assets/images/celtic.gif" alt="" style="width:100%;border-radius:5px 5px 5px 5px;">
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header float-right" style="color:#2c3e50">
    <p>ຂໍ້ມູນພື້ນຖານ</p> <button type="button" class="btn btn-primary" (click)="goToMenu()" style="position:absolute; right:10px; top:8px;">ຈັດການເມນູ</button>
  </div>
  <div class="card-body">
    <table class="table table-condensed  table-hover">
      <thead>
        <tr>
          <th class="table-id">#</th>
          <th>ຮູບພາບ</th>
          <th>ຊື່ເມນູ</th>
          <th>ລາຄາ</th>
          <th>ຈັດການ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of [1,2,3,4,5,6]; let i = index" style="cursor: pointer">
          <td class="table-id">{{ i + 1 }}</td>
          <td ><img src="assets/images/celtic.gif" alt="" style="width:30%;border-radius:10px 10px 10px 10px; padding:5px;"></td>
          <td>ປີ້ງປານິນ</td>
          <td>30,000 ກີບ</td>
          <td><button type="button" class="btn btn-default" (click)="goToMenu()">ແກ້ໄຂ</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<ba-card cardTitle="ແຜນທີ່ຮ້ານ">
  <div class="google-maps"></div>
</ba-card>