<!-- Add breadcrumb -->
<div style="position:absolute;right:20px;">
  <ol class="breadcrumb" style=" background-color:rgba(0, 0, 0, 0.3)">
    <li class="breadcrumb-item"><a href="/#/admin/" style="color:aliceblue;">ໜ້າຫຼັກ</a></li>
    <li class="breadcrumb-item active" style="color:aliceblue;">ກຳນົດການເຂົ້າເຖິງ</li>
  </ol>
</div>


<br>
<div class="kameleon-icon">
  <h1>
    <img src="assets/img/theme/icon/kameleon/Burglar.svg"> ຈັດການການເຂົ້າເຖິງຂອງຜູ້ໃຊ້
  </h1>
</div>
<br>

<a class="btn btn-default no-links" data-toggle="modal" data-toggle="collapse" href="#collapse-addacl">ເພີ່ມລະດັບໃໝ່</a>
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addAcl" (click)="goToResourceManage()">ຈັດການ Resource</button>
<div id="collapse-addacl" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" style="margin-top:10px;color:#fff">
  <div class="card-body">
    <form [formGroup]="aclRoleAdd " novalidate (ngSubmit)="addAclRole(i)">

      <div class="row">
        <div class="form-group col-sm-6">
          <label for="exampleInputtext1">ຊື່ແອັບ</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="app_name">
                                  <option selected>--ເລືອກແອັບ--</option>
                                  <option >SelfOrder</option>
                                </select>
        </div>
        <div class="form-group col-sm-6">
          <label for="exampleInputtext1">Role Name</label>
          <input type="text" class="form-control" id="exampleInputtext2" placeholder="Role Name" formControlName="role">
        </div>
        <div class="form-group col-sm-12">
          <label for="exampleInputtext1">ອະທິບາຍກ່ຽວກັບ Resources</label>
          <textarea class="form-control" id="exampleInputtext2" placeholder="ລາຍລະອຽດ" formControlName="description"></textarea>
        </div>

      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary"><i  class="ion-android-add"></i> ເພີ່ມ Role</button>
      </div>

    </form>
  </div>
</div>
<br><br>

<div class="horizontal-scroll">
  <table class="table table-condensed  table-hover table-bordered  table-responsive" style="border-radius:5px 5px 5px 5px;">
    <thead>
      <tr style="background:rgba(0,0,0,0.2);">
        <th >#</th>
        <th *ngFor="let item of acl; let i = index">
          <h3><b><i class="ion-android-share-alt"></i> {{item.role}}</b></h3>
        </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of aclResources; let i = index" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
        aria-controls="collapseExample">
        <td >{{item.resource_name}}</td>
        <td *ngFor="let xxx of acl; let j = index" class="text-center ">
            <i class="ion-android-checkmark-circle " style="color:#2ecc71; font-size:2em;"></i>
            <i class="ion-android-close" style="color:#e74c3c; font-size:2em;"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>






<br>
<br>
<br>




















