<br>
<div class="kameleon-icon">
    <h1>
        <img src="assets/img/theme/icon/kameleon/Shop.svg"> ຈັດການປະເພດຮ້ານອາຫານ
    </h1>
</div>
<br><br>

<div class="horizontal-scroll">
    <table class="table table-condensed  table-hover">
        <thead>
            <tr>
                <th class="table-id">#</th>
                <th>ຊື່ປະເພດ</th>
                <th>Slug</th>
                <th>ລາຍລະອຽດ</th>
                <th>ຈັດການ</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of types; let i = index" style="cursor: pointer">
                <td class="table-id">{{ i + 1 }}</td>
                <td (click)="goToDetail(item)">{{ item.name }}</td>
                <!-- <td>{{ item.name}}</td> -->
                <td>{{ item.slug}}</td>
                <td>{{ item.description }}</td>
                <td><button type="button" class="btn btn-default">ແກ້ໄຂ</button><button type="button" class="btn btn-danger">ລຶບ</button></td>
            </tr>
        </tbody>
    </table>
</div>