<div class="horizontal-scroll">
  <table class="table table-condensed  table-hover">
    <thead>
    <tr>
      <th class="table-id">#</th>
      <th>ຊື່ຮ້ານ</th>
      <th>ເບີໂທ</th>
      <th>ທີ່ຢູ່</th>
      <th>ຈັດການ</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of restaurants; let i = index" style="cursor: pointer">
      <td class="table-id">{{ i + 1  }}</td>
      <td  (click)="goToDetail(item)">{{ item.name }}</td>
      <td>{{ item.phone }}</td>
      <td>{{ item.address }}</td>
      <td><button type="button" class="btn btn-default" (click)="goToMenu()">ຈັດການເມນູ</button> <button type="button" class="btn btn-default" >ພະນັກງານ</button></td>
    </tr>
    </tbody>
  </table>
</div>
